<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{css/kendo.common-material.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/kendo.material.min.css}"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/kendo.all.min.js}"></script>
    <script th:src="@{/js/cultures/kendo.culture.zh-CN.min.js}"></script>
    <script th:src="@{/js/messages/kendo.messages.zh-CN.min.js}"></script>
    <script>
        kendo.culture("zh-CN");
    </script>
    <style>
        body {
            font-size: small;
        }
    </style>
    <title>订单报文</title>
</head>
<body>
<label th:text="订单号" for="orderNos"></label>
<input type="text" id="orderNos" style="width: 400px;"/>
<br/><br/>
<label th:text="开始时间"></label>
<input id="startTime" title="开始时间" style="width: 200px;"/>
<label th:text="结束时间"></label>
<input id="endTime" title="结束时间" style="width: 200px;"/>
<input type="submit" class="k-button k-primary" value="查询"/>
<br/><br/><br/>
<div id="grid"></div>
</body>

<script type="text/javascript">

    var data = [
        "Albania",
        "Andorra",
        "Armenia",
        "Austria",
        "Azerbaijan",
        "Belarus",
        "Belgium",
        "Bosnia Herzegovina",
        "Bulgaria",
        "Croatia",
        "Cyprus",
        "Czech Republic",
        "Denmark",
        "Estonia",
        "Finland",
        "France",
        "Georgia",
        "Germany",
        "Greece",
        "Hungary",
        "Iceland",
        "Ireland",
        "Italy",
        "Kosovo",
        "Latvia",
        "Liechtenstein",
        "Lithuania",
        "Luxembourg",
        "Macedonia",
        "Malta",
        "Moldova",
        "Monaco",
        "Montenegro",
        "Netherlands",
        "Norway",
        "Poland",
        "Portugal",
        "Romania",
        "Russia",
        "San Marino",
        "Serbia",
        "Slovakia",
        "Slovenia",
        "Spain",
        "Sweden",
        "Switzerland",
        "Turkey",
        "Ukraine",
        "United Kingdom",
        "Vatican City"
    ];

    $(document).ready(function () {
        $("#orderNos").kendoAutoComplete({
            dataSource: data,
            filter: "startswith",
            placeholder: "选择订单号...",
            separator: ", "
        });

        $("#startTime").kendoDateTimePicker({
            value: new Date(),
            dateInput: true
        });

        $("#endTime").kendoDateTimePicker({
            value: new Date(),
            dateInput: true
        });

        $("#grid").kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"
                },
                schema: {
                    model: {
                        fields: {
                            OrderID: {type: "number"},
                            Freight: {type: "number"},
                            ShipName: {type: "string"},
                            OrderDate: {type: "date"},
                            ShipCity: {type: "string"}
                        }
                    }
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                field: "OrderID",
                filterable: false
            },
                "Freight",
                {
                    field: "OrderDate",
                    title: "Order Date",
                    format: "{0:MM/dd/yyyy}"
                }, {
                    field: "ShipName",
                    title: "Ship Name"
                }, {
                    field: "ShipCity",
                    title: "Ship City"
                }
            ]
        });
    });
</script>
</html>